/* .fr-toolbar {
  border-radius: 0 !important;
}

.fr-second-toolbar {
  display: none;
}

.fr-wrapper {
  margin-top: 1rem !important;
  box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  max-width: 72rem !important;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  min-height: 100vh;
} */

button:focus {
  border: none !important;
  outline: none !important;
}

#mui-rte-toolbar {
  flex-wrap: wrap;
}

html {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: none;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 10px;
  background-clip: padding-box;
  border: 3.5px solid rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.35);
}

@tailwind components;

@layer components {
  .option {
    @apply cursor-pointer hover:bg-gray-100 px-2.5 p-1 rounded-lg transition-all duration-500 ease-in-out;
  }
}

.MuiPaper-rounded {
  border-radius: 15px !important;
}

/* print stuff */

@page {
  margin: 1in;
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
  }

  body {
    background: none;
    padding-top: 72px;
    padding-bottom: 72px;
  }

  #mui-rte-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  #mui-rte-toolbar {
    display: none;
  }

  header {
    display: none !important;
  }

  hr {
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 7px #2ecc40;
    margin-left: -5px;
  }
}

@media only screen and (max-width: 380px) {
  .template {
    height: 10rem;
    width: 7.5rem;
  }
}
