/* .fr-toolbar {
  border-radius: 0 !important;
}

.fr-second-toolbar {
  display: none;
}

.fr-wrapper {
  margin-top: 1rem !important;
  box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  max-width: 72rem !important;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  min-height: 100vh;
} */

button:focus {
  border: none !important;
  outline: none !important;
}

#mui-rte-toolbar {
  flex-wrap: wrap;
}

html {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: none;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 10px;
  background-clip: padding-box;
  border: 3.5px solid rgba(0, 0, 0, 0);
}

@tailwind components;

@layer components {
  .option {
    @apply cursor-pointer hover:bg-gray-100 px-2.5 p-1 rounded-lg transition-all duration-500 ease-in-out;
  }
}
